<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">


    <title>Test</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home/index">
                <div class="sidebar-brand-icon">
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                    <img src="/img/logo1.png" width="42" height="42" class="logo" alt="">
                </div>
                <div class="sidebar-brand-text mx-3">OOAD</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/home/term">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon2.png" width="15" height="15" class="logo" alt="">
                    <span>จัดการปีการศึกษา</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/home/course">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon1.png" width="15" height="15" class="logo" alt="">
                    <span>จัดการคอร์สเรียน</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon1.png" width="15" height="15" class="logo" alt="">
                    <span>สร้างการสอบใหม่แต่ละรายวิชา</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon2.png" width="15" height="15" class="logo" alt="">
                    <span>จัดผู้คุมสอบในแต่ละรายวิชา</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon3.png" width="15" height="15" class="logo" alt="">
                    <span>จัดนิสิตลงที่นั่งสอบ</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon4.png" width="15" height="15" class="logo" alt="">
                    <span>ยกเลิกการสอบ</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon5.png" width="15" height="15" class="logo" alt="">
                    <span>จัดการห้องสอบ</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/home/room">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon6.png" width="15" height="15" class="logo" alt="">
                    <span>เพิ่มห้อง</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/home/build">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon6.png" width="15" height="15" class="logo" alt="">
                    <span>เพิ่มตึก</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/home/users" style="background-color: rgb(153, 153, 150)">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon7.png" width="15" height="15" class="logo" alt="">
                    <span>จัดการผู้ใช้</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon8.png" width="15" height="15" class="logo" alt="">
                    <span>นำเข้าข้อมูลนิสิตแบบ excel</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img src="/img/icon9.png" width="15" height="15" class="logo" alt="">
                    <span>ผู้คุมสอบ</span></a>
            </li>
        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    ปีการศึกษา

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/home" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle" src="/img/iconuser.png" width="15" height="15"
                                    class="logo" alt="">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-item"></div>
                                <a class="dropdown-item" href="/home" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> ออกจากระบบ
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-1 text-black-800" style="text-align: center; color: black;">สัญญาซื้อ</h1>

                    <div class="card mb-4 py-3 border-light" style="padding: 10px; margin-top: 4vh;">

                        <label style="margin-left: 9%;">หนังสือสัญญานี้จัดทำ ณ 72/300 ถนน ทางหลวงชนบท กรุงเทพฯ-ชลบุรี
                            ตำบล ตาสิทธิ์ อำเภอ ปลวกแดง ระยอง บริษัท โชคทวีออโต้เซลล์ จำกัด</label>
                        <label style="margin-left: 4%;">เมื่อวันที่ .. .. ระหว่าง บริษัท
                            โชคทวีออโต้เซลล์ จำกัด </label>
                        <label style="margin-left: 4%;">ที่อยู่ 72/300 ถนน ทางหลวงชนบท กรุงเทพฯ-ชลบุรี
                            ตำบล ตาสิทธิ์ อำเภอ ปลวกแดง ระยอง 21140</label>
                        <label style="margin-left: 6%;">(ต่อไปในสัญญาจะเรียก "ผู้ซื้อ" )</label>
                        <label style="margin-left: 4%;">กับ นาย/นาง/นางสาว .... ....
                            เลขบัตรประจำตัวประชาชน .... .... </label>
                        <label style="margin-left: 4%;">ที่อยุ๋ .... .... </label>
                        <label style="margin-left: 6%;">(ต่อไปในสัญญาจะเรียก "ผู้ขาย" )</label>
                        <label
                            style="margin-left: 4%;">คู่สัญญาท้้งสองฝ่ายตกลงเงื่อนไขสัญญากันไว้โดยมีรายละเอียดดังนี้</label>
                        <label style="margin-left: 4%;"> ข้อ 1. ผู้ซื้อตกลงซื้อและผู้ขายตกลงขายรถยนต์ยี่ห้อ .. .. ประเภท
                            .. .. รุ่น .. .. สี .. .. หมายเลขทะเบียน .. .. หมายเลขตัวถังรถยนต์ .. ..
                            ทั้งนี้รายละเอียดของรถยนต์ปรากฏตามสมุดคู่มือทะเบียนรถยนต์แนบท้ายสัญญาและถือเป็นส่วนหนึ่งของสัญญานี้</label>
                        <label style="margin-left: 4%;"> ข้อ 2.
                            คู่สัญญาทั้งสองฝ่ายตกลงซื้อขายรถยนต์คันดังกล่าวในราคาทั้งสิ้น .. .. บาท
                            ผู้ขายได้ชำระเงินทั้งหมดในวันทำสัญญาฉบับนี้แล้ว
                            ชำระโดย <input type="checkbox" style="width: 15px;height: 15px;"> เงินสด <input
                                type="checkbox" style="width: 15px;height: 15px;">
                            เช็คธนาคาร........................................สาขา...........................................เลขที่เช็ค................................................</label>
                        <label style="margin-left: 4%;">ข้อ 3.
                            ผู้ขายได้ทำการส่งมอบรถให้กับผู้ซื้อแล้วในสภาพเรียบร้อยตรงตามวัตถุประสงค์ของผู้ซื้อทุกประการ
                            และให้
                            ถือว่ากรรมสิทธิ์ในรถยนต์ ได้โอนให้กับผู้ซื้อเรียบร้อยแล้วในวันทำสัญญานี้</label>
                        <label style="margin-left: 4%;">ข้อ4.
                            ผู้ซื้อตกลงจะดำเนินการเปลี่ยนแปลงชื่อเจ้าของรถยนต์ในสมุดคู่มือทะเบียนรถยนต์ด้วยค่าใช้จ่ายของผู้ซื้อเอง
                            ทั้งสิ้น โดยผู้ขายได้จัดทำหนังสือมอบอำนาจ และเอกสารที่เกี่ยวข้องกับการดำ
                            เนินการดังกล่าวมอบให้ผ็ูซื้อเรียบร้อยแล้วในวันทำสัญญานี้</label>
                        <label style="margin-left: 4%;">ทั้งนี้ในระหว่างที่ผู้ซื้อดำเนินการตามวรรคแรก
                            หากผู้ซื้อกระทำการใดๆหรือยินยอมให้บุคคลภายนอกกระทำการใดๆ
                            ที่มีผลให้ผู้ขายได้รับความเดือดร้อนหรือได้รับความเสียหาย
                            ผู้ขายมีสิทธิ์จะเรียกร้องค่าเสียหายจากผู้ซื้อได้ทันที</label>
                        <label style="margin-left: 4%;">สัญญานี้ทำขึ้นเป็นสองฉบับมีข้อความถูกต้องตรงกันทั้งสองฝ่ายได้ทราบและเข้าใจข้อความโดยตลอดดีแล้ว เห็นว่าตรงตามเจตนาของตน
                            จึงได้ลงลายมือชื่อไว้เป็นสำคัญต่อหน้าพยานและต่างยึดถือไว้ฝ่ายละฉบับ ฉบับนี้สำหรับ
                            ........................................</label> <br>
                        <div class="row">
                            <!-- Border Left Utilities -->
                            <div class="col-lg-6">
                                <center>
                                    <label>ลงชื่อ........................................................................(ผู้ขาย)</label>
                                    <br>
                                    <label>(..........................................................................................)</label>
                                    <br>
                                    <label>ลงชื่อ........................................................................(พยาน)</label>
                                    <br>
                                    <label>(..........................................................................................)</label>
                                    <br>
                                </center>
                            </div>

                            <!-- Border Right Utilities -->
                            <div class="col-lg-6">
                                <center>
                                    <label>ลงชื่อ........................................................................(ผู้ซื้อ)</label>
                                    <br>
                                    <label>(..........................................................................................)</label>
                                    <br>
                                    <label>ลงชื่อ........................................................................(พยาน)</label>
                                    <br>
                                    <label>(..........................................................................................)</label>
                                    <br>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2562 Object-Oriented Analysis and Design.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ต้องการออกจากระบบใช่หรือไม่?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">คลิกปุ่ม "ตกลง" หากต้องการออกจากระบบ</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                    <a class="btn btn-primary" href="/home">ตกลง</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/js/checkAddCar.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>